<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobisocial.bento.ebento"
    android:versionCode="3"
    android:versionName="1.1.0" >

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="15" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_CALENDAR" />
	<uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.SherlockCustom" >
        
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="mobisocial.intent.action.CONNECTED" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.EventListActivity"
            android:label="@string/label_event_list" >
        </activity>
        
        <activity
            android:name=".ui.EventActivity"
            android:label="@string/label_event" >
        </activity>
        
        <activity
            android:name=".ui.PeopleListActivity"
            android:label="@string/label_people_list" >
        </activity>
        
        <activity
            android:name="mobisocial.bento.ebento.ui.EditActivity"
            android:label="@string/label_create_event" >
        </activity>
        
    </application>

</manifest>